@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font{
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300,400,500,600,700;
}

html{
  scroll-behavior: initial;
}

body.hide_header .header{
  transform: translateY(-100%);
}

/* body.scrolled .header{
 background: ; 
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
