@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font{
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300,400,500,600,700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: initial;
}

body.hide_header .header{
  transform: translateY(-100%);
}

@media (min-width: 1024px) {
  body.scrolled .header_container{
    padding: 10px 5px;
  }
  body.scrolled .header_logo p {
    height: 40px;
    padding: 0 10px;
}
}

.skill{
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}

.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(5, 5, 5, 0.7)
}

.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
  inset -4px -4px 6px -1px rgba(5, 5, 5, 0.7),
  -0.5px -0.5px 0px rgba(2, 2, 2, 0.7),
  0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
  0px 12px 10px -10px rgba(0, 0, 0, 0.015)
}

#number1{
  font-size: 25px;
  font-weight: 600;
  color: darkseagreen;
}
#number{
  font-size: 25px;
  font-weight: 600px;
  color: darkseagreen;
}

#circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim 2s linear forwards;
}
#circle2{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim2 2s linear forwards;
}
#circle3{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim3 2s linear forwards;
}
#circle4{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim4 2s linear forwards;
}
#circle5{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim5 2s linear forwards;
}
#circle6{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim6 2s linear forwards;
}
#circle7{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim7 2s linear forwards;
}
#circle8{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim8 2s linear forwards;
}
#circle9{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim9 2s linear forwards;
}

#svg{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim{
  100%{
    stroke-dashoffset: 110;
  }
}
@keyframes anim2{
  100%{
    stroke-dashoffset: 124;
  }
}
@keyframes anim3{
  100%{
    stroke-dashoffset: 132;
  }
}
@keyframes anim4{
  100%{
    stroke-dashoffset: 132;
  }
}
@keyframes anim5{
  100%{
    stroke-dashoffset: 154;
  }
}
@keyframes anim6{
  100%{
    stroke-dashoffset: 110;
  }
}
@keyframes anim7{
  100%{
    stroke-dashoffset: 176;
  }
}
@keyframes anim8{
  100%{
    stroke-dashoffset: 88;
  }
}
@keyframes anim9{
  100%{
    stroke-dashoffset: 176;
  }
}